<div class="menu-wrapper">
    <div class="menu-spalte-header">
        <!-- hier mit ngfor arbeiten-->
        <div class="spalte-header-box">
            <p>Menü 1</p>
        </div>
    </div>
    <div class="menu-line-header">
        <div class="line-header-box">
            Montag
        </div>
        <div class="line-header-box">
            Dienstag
        </div>
        <div class="line-header-box">
            Mittwoch
        </div>
        <div class="line-header-box">
            Donnerstag
        </div>
        <div class="line-header-box">
            Freitag
        </div>
        <div class="line-header-box">
            Samstag
        </div>
    </div>
</div>