<div class="menu-wrapper">
    <div *ngIf="dataIsReady">
        <div class="menu-spalte-header" >
            <div *ngFor="let element of foodplans" class="spalte-header-box">
                <p>{{element.name}}</p>
            </div>
        </div>
    </div>
    
    
    <div class="menu-line-header">
        <div class="line-header-box">
            Montag
        </div>
        <div class="line-header-box">
            Dienstag
        </div>
        <div class="line-header-box">
            Mittwoch
        </div>
        <div class="line-header-box">
            Donnerstag
        </div>
        <div class="line-header-box">
            Freitag
        </div>
        <div class="line-header-box">
            Samstag
        </div>
    </div>


    <div *ngIf="dataIsReady">
        <div>
            <div *ngFor="let element of foodplans;let index = index;trackByIndex" class="menu-zeile">
                <div class="menu-zeile-box">
                    {{element.montagProdukt}}: {{element.montagPreis}}€
                    <input class="product_checkbox" type="checkbox" [(ngModel)]="foodplans[index].montagCheck">
                </div>
                <div class="menu-zeile-box">
                    {{element.dienstagProdukt}}: {{element.dienstagPreis}}€
                    <input class="product_checkbox" type="checkbox" [(ngModel)]="foodplans[index].dienstagCheck">
                </div>
                <div class="menu-zeile-box">
                    {{element.mittwochProdukt}}: {{element.mittwochPreis}}€
                    <input class="product_checkbox" type="checkbox" [(ngModel)]="foodplans[index].mitwochCheck">
                </div>
                <div class="menu-zeile-box">
                    {{element.donnerstagProdukt}}: {{element.donnerstagPreis}}€
                    <input class="product_checkbox" type="checkbox" [(ngModel)]="foodplans[index].donnerstagCheck">
                </div>
                <div class="menu-zeile-box">
                    {{element.freitagProdukt}}: {{element.freitagPreis}}€
                    <input class="product_checkbox" type="checkbox" [(ngModel)]="foodplans[index].freitagsCheck">
                </div>
                <div class="menu-zeile-box">
                    {{element.samstagProdukt}}: {{element.samstagPreis}}€
                    <input class="product_checkbox" type="checkbox" [(ngModel)]="foodplans[index].samstagsCheck">
                </div>
            </div>
        </div>
    </div>

    <div class="bestellung-abschluss">
        <div class="bestellugs-button">
            <button class="bestellung-button" (click)="bestellungAbsenden();">Bestellung Absenden</button>
            {{errorMessage}}
        </div>
    </div>

</div>