<div class="menu-wrapper">
    <div *ngIf="">
        <div *ngFor="let element of []" class="menu-spalte-header" >
            <p>{{element}}</p>
            <div class="spalte-header-box">
                <p>{{element}}</p>
            </div>
    
        </div>
    </div>
    
    
    <div class="menu-line-header">
        <div class="line-header-box">
            Montag
            
        </div>
        <div class="line-header-box">
            Dienstag
        </div>
        <div class="line-header-box">
            Mittwoch
        </div>
        <div class="line-header-box">
            Donnerstag
        </div>
        <div class="line-header-box">
            Freitag
        </div>
        <div class="line-header-box">
            Samstag
        </div>
    </div>
</div>

<ul>
    <li *ngFor="let item of [1, 2, 3, 4]">{{item}}</li>
</ul>
