<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon>card_giftcard</mat-icon>
    
    <a mat-stroked-button class="button" routerLink="/menu">Menüplan nächste Woche</a>
    <a mat-stroked-button class="button" routerLink="/orders" *ngIf="this.adminState">Kundenbestellungen für diese Woche</a>
    <a mat-stroked-button class="button" routerLink="/plancreation" *ngIf="this.adminState">Neuen Menüplan erstellen</a>

    <span class="spacer"></span>

    <a mat-stroked-button class="button" (click)="logout()">Logout</a>
  </mat-toolbar-row>
</mat-toolbar>