.plancreation-wrapper {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 700;
}

.matcard {
    width: 50%;
    margin: auto;
}

.tag{
    width: 80%;
    margin: auto;
}

.full-width-for-day{
    width: 40%;
    margin-right: 8%;
}

.full-width-for-price{
    width: 20%;
}

.full-width{
    width:80%
}

.bottom-button {
    margin-bottom: 15px;
}
